{% extends 'base.html' %}
{% block title %} Portfolio {% endblock title%}

{% block body %}
<div id="portfolio_section">
    <div class="row" id="portfoilo_heading">
        <h1>Portfolio</h1>
    </div>
    <div class="row" id="holding_section">
        <h1>Add company to Portfolio</h1>
        <div class="row" id="portfoilo_search_section">
            <form class="portfolio-search-container">
                <label for="portfolio_search-box">Search Company:</label>
                <input type="text" id="portfolio_search-box" required autocomplete="off" placeholder="Enter company name">
                
                <label for="portfolio_quantity">Quantity:</label>
                <input type="number" id="portfolio_quantity" required>
                
                <label for="portfolio_bought-price">Bought Price:</label>
                <input type="number" id="portfolio_bought-price" required>
                
                <button type="button" id="portfoilo_add_btn" onclick="add_company_to_portfolio('{{data.user.id}}')">Add</button>
                <button class="btn btn-success" type="button" onclick="compare_page('{{data.user.id}}')">Compare</button>
                <ol id="portfolio_suggestions" class="portfolio-suggestion-box"></ol>
            </form>            
        </div>
    </div>
    <hr>
    
    <div class="row">
        <div class="col-sm-3">
            <div class="row" id="holding_analyse">
                <button type="button" onclick="analysis_btn('{{data.user.id}}')">Analysis</button>
            </div>
            <div class="row" id="holding_header">
                <h2>Holding</h1>
            </div>
            <div class="row" id="holding">
                <div id="holding_items">
                    {% if data.holdings | length > 0 %}
                    {% for company in data.holdings %}
                    <div class="holding_row">
                        <div class="row">
                            <div class="holding_company">
                                <div class="row">
                                    <div class="col-sm-6" id="c_symbol">
                                        <p>{{ company.c_symbol }}</p>
                                    </div>
                                    <div class="col-sm-5" id="share_price">
                                        <p>12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <label id="holding_quantity_label" for="quantity">Qut : </label>
                                    <input id="holding_quantity" name="quantity" type="number" value="{{ company.quantity }}">.No
                                </div>
                                <div class="col-sm-5" style="float: right;">
                                    <label id="bought_price_label" for="bought_price">Bought : </label>
                                    <input id="bought_price" name="bought_price" type="number" value="{{ company.bought_price }}">.Rs
                                </div>
                                <button class="holding_del_btn" onclick="delete_holding_company('{{company.c_symbol}}', '{{data.user.id}}')">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div>
                        <p class="text-center">Add company</p> <!-- Message centered -->
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if data.holdings | length > 0 %}
        <div class="col-sm-8" id="holding_chart_section">
            <h1 id="portfoilo_heading">Portfolio Analysis</h1>
            <hr>
            <div class="row">
                <div class="col">
                    <div>
                        <h1>Total Holdings</h1>
                        <hr>
                        <div id="holdings_bought_chart"></div>                        
                    </div> 
                </div>
                <div class="col">
                    <div>
                        <h1>Current Portfolio</h1>
                        <hr>
                        <div id="holdings_current_chart"></div>                        
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div>
                        <h1>Profit Contribution per Company</h1>
                        <hr>
                        <div id="profit_contribution_chart"></div>                        
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-sm-8" id="holding_empty_chart_section">
            <h1 style="margin-top: 80px;">Please add your holding company to portfolio</h1>
        </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
</script>
<script src="{{url_for('static', filename='portfolio.js')}}"></script>
{% endblock body %}