<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <script src="{{url_for('static', filename='index.js')}}"></script>
        <title>Signup</title>
    </head>
    <body>
        <form method="POST">
            <h1>Signup</h1>
            <label for="name">Username</label><br>
            <input type="text", name="name" required><br>
            <label for="name">Password</label><br>
            <input type="password", name="password1" required><br>
            <label for="name">Conform password</label><br>
            <input type="password", name="password2" required><br>
            
            <button type="submit">Signup</button>
        </form>
        <a href="/login">click hear for login</a>
    </body>
</html>