<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test6</title>
    <script type="text/javascript"
        src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js">
        </script>
    <style>
        body {
            padding: 0;
            margin: 0;
            /* Add a background color to match the chart */
            background-color: #222;
            color: white;
        }
    </style>
</head>

<body>
    <h1>this is test page 6</h1>
    <div id="container" style="position: absolute; width: 50%; height: 50rem; border: 2px solid white;"></div>
    <script type="module" src="{{ url_for('static', filename='test6.js') }}"></script>
</body>

</html>